:root {
  --primary: #274253;
  --secondary: #CE9933;
  --tertiary: #9d9d9d;
  --row-divider:#ecf4fc;
  --white:#fff;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  overflow-x: hidden;
}