.animate {
    animation-name: show;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

@keyframes show {
    from {
        opacity: 0;
        transform: translate(-50%, -50%);
    }
    to {
        opacity: 1;
    }
}