.banner-section {
    height: 80vh;
    background-image: url('../../assets/bannerdark.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    position: relative;
    z-index: 901;
}

.title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -60%);
    width: 60rem;
    text-align: center;
    z-index: 902;

    h1 {
        letter-spacing: -.5px;
        font-size: 6.2rem;
        font-weight: 100;
        font-family: "Kaushan Script", cursive;
        color: #FFF;

        &::after {
            content: "";
            width: 20rem;
            height: .2rem;
            margin: .5rem auto;
            background-color: #ffffff;
            display: block;
        }
    }

    p {
        font-size: 3.2rem;
        font-family: 'Dancing Script', cursive;
        color: #ffffff;
    }
}

.row-divider {
    top: auto;
    bottom: 0;
    transform: rotate(0deg);
    position: absolute;
    left: 0;
    right: 0;

    &::after {
        content: "";
        bottom: -5px;
        display: block;
        background: linear-gradient(45deg, transparent 33.333%, #ecf4fc 33.333%, #ecf4fc 66.667%, transparent 66.667%),
            linear-gradient(-45deg, transparent 33.333%, #ecf4fc 33.333%, #ecf4fc 66.667%, transparent 66.667%);
        background-repeat: repeat-x;
        background-size: 16px 32px;
        height: 8px;
    }
}

.center-box {
    position: absolute;
    bottom: -100px;
    left: 50%;
    width: 95%;
    height: auto;
    max-width: 1024px;
    min-height: 200px;
    margin-bottom: 12px;
    padding: 57px 50px 45px;
    transform: translateX(-50%);
    background-color: #fff;
    box-shadow: 0px 10px 32px 0px rgba(0, 0, 0, .3);
}

@import './animation';

@media screen and (max-width:765px) {

    .banner-section {
        height: 65vh;
    }

    .title {
        width: 40rem;
        transform: translate(-50%, -80%);

        h1 {
            font-size: 5.2rem;
        }

        p {
            font-size: 2.4rem;
            font-family: 'Dancing Script', cursive;
            color: #ffffff;
        }
    }
}

@media screen and (max-width:580px) {
    .center-box {
        height: 150px;
        padding: .6rem 1rem;
    }

    .title {
        transform: translate(-50%, -60%);
    }
}

@media screen and (max-width:401px) {
    .banner-section {
        height: 50rem;
    }
    .title {
        transform: translate(-50%, -60%);
        width: 30rem;

        h1 {
            font-size: 4.2rem;
        }
        p {
            font-size: 2rem;
        }
    }
}